= simple_form_for([station, comment], html: {style: 'margin-top:10px'}) do |f|
  = f.input :name, required: true unless signed_in?
  = f.input :content, label: t('comment'), as: :text, input_html: {rows: 4}
  = f.button :submit, :'data-disable-with' => t('helpers.on_disable'), class: 'button tiny right'
