.row
  .large-6.medium-8.columns.large-centered.medium-centered
    .authform
      %h4= t('forgot_your_password')
      %hr
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = f.input :email, required: true, autofocus: true
        = f.button :submit, t('send_instructions'), :'data-disable-with' => t('helpers.on_disable'), class: 'small right'
