%h4.text-center Find a gas station

%p= image_tag 'http://placehold.it/1050x500'

.row
  .large-4.columns.text-center
    = fa_icon('map-o 5x')
    %br
    Wherever
  .large-4.columns.text-center
    = fa_icon('money 5x')
    %br
    Cheapest
  .large-4.columns.text-center
    = fa_icon('map-marker 5x')
    %br
    Closer
