= simple_form_for([station, price]) do |f|
  .form-inputs
    = f.association :fuel, collection: fuels, selected: fuels.first
    = f.input :masked_value, as: :string

  .form-actions
    = f.button :submit, t('helpers.submit.save', model: 'combustível'), :'data-disable-with' => t('helpers.on_disable'), class: 'tiny right button'
