= simple_form_for([@station, @price]) do |f|
  .form-inputs
    = f.association :fuel, collection: @fuels, selected: @fuels.first
    = f.input :maskared_value, as: :string

  .form-actions
    = f.button :submit, class: 'tiny right'
