= simple_form_for(fuel) do |f|
  .form-inputs
    = f.input :name
    = f.input :status, as: :select, collection: [:active, :inactive], selected: :active

  .form-actions
    = f.submit t('helpers.submit.submit', model: 'tipo'), class: 'tiny right button'
